@media only screen and (max-width:375px) {
    header .navbar-brand img {
        width: 50%;
        image-rendering: auto;
        image-rendering: unset;
    }

    header .navbar-brand{
        margin-right: 0px;
    }
    .hero {
        text-align: center;
    }
    .section-0 .col-md-7 h1{
        font-size: 2rem;
        line-height: 50px;
        margin-left: 25px;
    }
}

/* @media only screen and (max-width:1920px){
    header .hero{
        padding-top: 50px;
    }
    header .col-md-5 img{
        width: 70%;
        padding-left: 20px;
    }
} */